@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
}
html {
    background-color: #FFFEEA;
}

nav {
    background-color: #997245;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-shrink: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 1%;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}


button {
    border: 0;
    font-family: 'Itim', cursive;
    font-size: 100%;
    color: #FFFEEA;
    background-color: #997245;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
button:hover, #download:hover {
    background-color: #70502a;
}
#buyButton {
    margin-left: 25%;
    margin-right: 25%;
}
#buyButton:hover {
    background-color: rgb(229, 196, 12);
}

section {
    padding-top: 5.5%;
    padding-bottom: 3%;
}

#charaScroll {
    padding-bottom: 10%;
}

#info {
    padding-top: 10%;
}

.flexContainer {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flexItem {
    padding: 1%;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Itim', cursive;
    text-align: center;
}

#download {
    border: 0;
    font-family: 'Itim', cursive;
    font-size: 90%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFEEA;
    background-color: #997245;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.2);
}

.title {
    text-align: center;
    font-family: 'Itim', cursive;
    color: #FFFEEA;
    background-color: #997245;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
}

.updateSection {
    font-family: 'Itim', cursive;
    text-align: center;
    h1{
        color: green;
        font-size: 180%;
    }
}

#shopContainer {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 8%;
}

.price {
    color: rgb(229, 196, 12);
}

#shopFooter {
    font-family: 'Itim', cursive;
    color: #997245;
    font-size: 200%;
    margin-top: 5%;
}
#shopHeader {
    font-family: 'Itim', cursive;
    color: #997245;
    font-size: 200%;
    margin-bottom: 5%;
}

footer {
    background-color: #997245;
    padding: 1%;
    font-family: 'Itim', cursive;
    color: #FFFEEA;
    font-size: 60%;
    text-align: center;
}

@media (max-width: 500px){
    .flexItem{
        flex: 1 150%;
        flex-grow: inherit;
    }
}